/* Common for whole page */
html,
body {
    height: 100%;
    margin: 0;
    background-color: grey;
}


/* Menu */
menu {
    position: fixed;
}

#menu-control {
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #111111;
    display: none;
}

#menu-control-input {
    display: none;
}

#menu-control-input:checked+#menu {
    display: block;
}

#menu ul {
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    background-color: #111;
}

#menu li:nth-child(2n) {
    background-color: #666;
}

#menu a {
    display: inline-block;
    padding: 5px 20px;
    text-decoration: none;
    color: #fefefe;
}


/* Change menu on small screens */
@media all and (max-width: 1000px) {
    #menu-control {
        display: inline-block;
    }

    #menu {
        display: none;
        counter-reset: item;
    }

    #menu li {
        display: block;
    }

    #menu li a::before {
        counter-increment: item;
        content: counter(item) ") ";
        color: orange;
    }

    #footer {
        display: block;
        position: relative;
    }

    .footer-item {
        font-size: xx-small;
    }

}

/* Custom checkbox */

#custom-checkbox {
    overflow: hidden;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: lightblue;
    position: relative;
    display: block;
    cursor: pointer;
}

#custom-checkbox::before {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;
    left: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#custom-checkbox-input {
    display: none;
}

#custom-checkbox-input:checked+#custom-checkbox::before {
    left: 100%;
    transform: translateX(-100%);
    background: green;
}

/* Help picture */
svg {
    width: 969px;
    height: 400px;
    background-color: rgb(228, 228, 138);
}

.hidden {
    display: none;
}

svg .help-header {
    font: bold 42px sans-serif;

}

.help-text {
    font-family: sans-serif;
}

.help-marked {
    fill: rgb(133, 74, 74);
    font-style: italic;
    font-family: sans-serif;
}

/* Main part containing the cards */

main {
    padding-left: 40px;
    padding-bottom: 20px;
    perspective: 1600px;
}

main .card {
    width: 500px;
    min-height: 750px;
    display: flex;
    background-color: rgb(126, 151, 195);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

main .card .card-content {
    border-radius: 7px;
    background-color: rgb(125, 195, 252);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

    /* Transition and transformation of the card when showing the answer*/
main > .card.flipped {
    background-color: rgb(125, 168, 125);
    transform: rotate3d(0, 1, 0, 180deg);
}

main .card.flipped .card-content {
    background-color: rgb(182, 247, 182);
    /* Mirror the X axis, so the text is still readable after rotation of the card*/
    transform: scaleX(-1);
}

/* Buttons on the first card when starting the app*/
.start-button {
    background-color: #666;
    color: #fff;
    padding: 3%;
    margin: 5%;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */
footer {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}


.footer-item {
    text-align: center;
    margin: 0 10px;
}

.footer-item a {
    color: #114;
}
